<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Cadastre-se </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo animate__animated animate__fadeInLeft">
    <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="" />
        </ion-thumbnail>
        <ion-label>Sou Universitário</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="" />
        </ion-thumbnail>
        <ion-label>Quero ser instrutor</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="" />
        </ion-thumbnail>
        <ion-label>Faça parte do projeto</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
